* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #435585;
    text-align: center;
}

h1 {
    margin-top: 2rem;
    font-size: 3em;
    color: rgb(226, 199, 255);
    background-color: black;
    box-shadow: 0 0 1rem rgba(0,0,0, 0.3);
    display: inline-block;
    border-radius: 15px;
    padding: 5px;
    
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #636e96;
    background-color: #b19fcc;
    cursor: pointer;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: rgb(218, 201, 255);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    background-color: rgb(77, 74, 74);
}

.hide {
    display: none;
}

.X {
    color: rgba(234, 231, 24, 0.867);
}

.O {
    color: rgb(0, 0, 0);
}



/* For screens smaller than 600px */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
        height: auto;
        line-height: inherit;
    }

    .choices {
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
    }

    .score-board {
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }

    #msg {
        font-size: 1rem;
    }

    #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: rgb(218, 201, 255);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
    
}

/* For screens between 600px and 900px */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .choices {
        gap: 2rem;
    }

    .score-board {
        gap: 3rem;
    }

    #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: rgb(218, 201, 255);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
}

/* For screens between 900px and 1200px */
@media screen and (min-width: 901px) and (max-width: 1200px) {
    .choices {
        gap: 3rem;
    }

    .score-board {
        gap: 4rem;
    }

    #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: rgb(218, 201, 255);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
}

/* For screens larger than 1200px */
@media screen and (min-width: 1201px) {
    .choices {
        gap: 4rem;
    }

    .score-board {
        gap: 5rem;
    }

    #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: rgb(218, 201, 255);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
}

